$celeste-color: #42D9C8;
$lightblue-color: #2C8C99;
$blue-color: #326771;
$darkblue-color: #28464B;
$red-color: #931621;
$gray-color: #f8f9fa;

.navbar-nav {
  color: $darkblue-color;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active{
  border-bottom: solid 2px $blue-color;
  font-weight: 600;
}

body {
  font-family: 'Lato', arial, sans-serif;  
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #28464B;
}

h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #28464B;
}


h1{
  font-size: 2.3rem;
}

h2{
  font-size: 1.8rem;
}

h3{
  font-size: 1.4rem;
}

h4{
  font-size: 1.1rem;
}

h5{
  font-size: 0.9rem;
}

p{
  text-align: justify;
}

.section{
  padding: 30px 40px 10px;
}

.section-inner{
  background: $gray-color;
  padding: 40px;
}

.btn-linkedin, .btn-resume {
  font-size: 12px;
  font-weight: 700;
  color: $lightblue-color;
  border: solid 1px $lightblue-color;
} 

@media (max-width: 576px) { 
  h1{
    font-size: 1.8rem;
  }  

  h2{
    font-size: 1.4rem;
  }  

  h3{
    font-size: 1.1rem;
  }  
  
  h4{
    font-size: 0.9rem;
  }

  h5{
    font-size: 0.8rem;
  }

  .section{
    padding: 15px 20px 5px;
  }
  
  .section-inner{
    background: $gray-color;
    padding: 20px;
  }
}